@media screen and (max-width:600px) {

    body{
    background: pink;
    }

    .flex-container {
        background: purple !important;
        flex-direction:column !important;
        justify-content:baseline !important;
        align-items: flex-start !important;
    }

    h1{
        display:block;
        color: navy;
    }
}


.flex-container {
    display: flex;
    background: yellow;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;

}

.flex-item {
    background: aqua;
    color: red;
    border-radius: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 20px;
}